{% extends 'base-front.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">{% trans %}Register{% endtrans %}</h1>

    {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}


        {{ form_errors(registrationForm.username) }}
        {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control', 'placeholder': 'Username'|trans}}) }}

        {{ form_errors(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Password'|trans}}) }}


        <button class="btn btn-lg btn-primary mt-2" type="submit">
            {% trans %}Register{% endtrans %}
        </button>

    {{ form_end(registrationForm) }}
{% endblock %}
