{% extends 'base-logged.html.twig' %}

{% block title %}{% trans %}Task preview{% endtrans %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">{% trans %}Task preview{% endtrans %}</h1>

            <p>
                {{ task.content|nl2br }}
            </p>

            {% include 'task/task-date-info.html.twig' %}


            {{ form_start(form) }}

                <a href="{{ path('task') }}" class="btn btn-lg btn-primary">{% trans %}Back{% endtrans %}</a>

                <a href="{{ path('edit_task', { id: task.id }) }}" class="btn btn-lg btn-info">{% trans %}Edit{% endtrans %}</a>

                {{ form_widget(form.complete_btn, { 'attr': { 'class': 'btn btn-lg btn-success'}}) }}

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
